.feynman {
  background-color: #f2f2f2;
  background-image: url(../../images/feinman.png);
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-position: bottom left;
  position: relative;
  text-align: center;
  min-height: 890px;
}
